$base-font-size: 14px;
@import "compass";
@import "media";

* {
  @include box-sizing(border-box);
}
html {
    height: 100%
}
body{
  font-size: 14px;
  position: relative;
  height: 100%;
  overflow: hidden;
}
#root{
  height: 100%;
  position: relative;
  > div{
    position: relative;
    height: 100%;
  }
}
.login-back{
  height: 100%;
  overflow: hidden;
  //background-color: #00BFFF;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @include background-image(linear-gradient(to top left,white, #00bfff));

}

.container{
  position: relative;
  padding: 0 15px;
  margin: 0 auto; 
  width: 100%;
  @include clearfix;
  @include large {
    width: 1200px;
  }; 
  @include desktop {
    width: 100%;
  };
  @include tablet {
    width: 100%;
  } 
  @include mobile {
    width: 100%;
  } 
}
.sign-in{
  @include clearfix; 
  float: right;
  margin-top: 200px;
  margin-right: 200px;
  width: 300px;
  padding: 20px 20px;
  background: rgba(255, 255, 255, .2);
  border: 1px solid rgba(255, 255, 255, .3);
  box-shadow: 0 5px 0 rgba(12, 12, 12, .03);
  @include mobile {
    float: none;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  } 
}
.login-title{
  margin-bottom: 20px;
}
.margin-bottom20{
  margin-bottom: 20px;
}
.alert{
  padding: 10px 20px;
  margin-bottom: 15px;
}
.alert-danger{
  background-color: red;
  color: #FFFFFF;
}
.text-center{
  text-align: center;
}
.text-input{
  font-size: $base-font-size;
  border: 1px solid #ccd6dd;
  height: 34px;
  //line-height: 30px;
  padding: 6px 12px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  &:focus{
    border: 1px solid #00bfff;
    outline: 0;
    box-shadow: inset 0 1px 0 #eee,#fff 0 1px 0;
  }
}
.input-group{
  padding-bottom: 10px;
  position: relative;
}
.text-block{
  display: block;
  width: 100%;
}
.remember{
  float: left;
  padding: 6px 0;
}
.pull-right{
  float: right;
}
