
extends templates/master.jade 

block vars
 
block title 
  | first

block content 
  .container
    div
      img(src="./images/wind.svg",height="256",alt="Nice green circle")

    .sign-in
      form 
        p.input-group
          input(type="text",class="text-input")

        p.input-group
          input(type="password",class="text-input")
        p
          button(type="button") 登录
