
extends templates/master.jade 

block vars
 
block title 
  | first

block content 
  div
    img(src="./images/wind.svg",height="256",alt="Nice green circle")
  form 
    p
      input(type="text")

    p
      input(type="password")
    p
      button(type="button") 登录
