
extends templates/master.jade 

block vars
 
block title 
  | first

block content 
  #root
  .hot
  
  //
   .container.home
    div
      //
        img(src="./images/wind.svg",height="256",alt="Nice green circle")
    .sign-in
      p.text-center.login-title
        | 登录
      .alert.alert-danger
        | 用户名或密码不正确! 
      form 
        p.input-group
          input(type="text",class="text-input text-block")

        p.input-group
          input(type="password",class="text-input text-block")
        .remember
          label
            input(type="checkbox")
            span 记住我
        .pull-right
          button(type="button",class="btn btn-blue") 登录
